main{
    background-color: rgb(255, 255, 255);
}
.header{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    background-color: rgb(255, 2, 141);
}
.header h1{
    font-size: 20px;
}
.header nav{
    margin-right: 85%;
    font-size: 20px;
}
#button{
    background-color: rgb(2, 168, 127);
    font-size: large;
    position: absolute;
    left: 47.5%;
    margin-top: .5%;
}
#button:hover, #correct:hover, #incorrect:hover, #incorrect2:hover, #incorrect3:hover{
    cursor: pointer;
    background-color: rgb(0, 116, 81);
}
#correct, #incorrect, #incorrect2, #incorrect3{
    background-color: rgb(2, 168, 127);
    font-size: large;
    left: 50%;
    margin-top: .5%;
}
#initialsbutton{
    background-color: rgb(2, 168, 127);
    font-size: large;
    left: 50%;
    margin-top: .5%;
}
#initialsbutton:hover{
    cursor: pointer;
    background-color: rgb(0, 116, 81);
}
#initials-input{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}